html {
	font-family: "Hind Siliguri", sans-serif;
	scroll-behavior: smooth;
}

h1 {
	margin-bottom: 5px;
}

h1,
h2 {
	font-family: "Tinos", serif;
	clear: both;
}

h3 {
	font-family: "Belgrano", serif;
	font-weight: 500;
	clear: both;
}

#main {
	font-size: 14px;
	margin-left: 20vw;
	margin-right: 20vw;
}

@media (min-width: 100px) and (max-width: 1200px) {
	#main {
		font-size: calc(14px + (20 - 14) * ((100vw - 100px) / (1200 - 100)));
		margin-left: 5vw;
		margin-right: 5vw;
	}

	h1 {
		font-size: calc(30px + (90 - 30) * ((100vw - 100px) / (1200 - 100)));
	}

	h4 {
		font-size: calc(30px + (40 - 30) * ((100vw - 100px) / (1200 - 100)));
		margin:0px;
	}


}

@media (min-width: 1200px) {
	#main {
		font-size: 20px;
	}

	h1 {
		font-size: 90px;
	}

	h2 {
		font-size: 50px;
	}

	h3, h4 {
		font-size: 30px;
		margin:0px;
	}


}

#navbar {
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
	transition: top 0.3s;
	margin-left: -10px;
  }
  
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 15px;
	text-decoration: none;
  }
  
  #navbar a:hover {
	background-color: #ddd;
	color: black;
  }